.appeal{
    border: 2px solid #65804b;
    padding: 20px 10px 20px 10px;
    border-radius: 10px;
    background-color: #313830;
    margin: 30px 20px 30px 20px;
}
.appealInner{
    display: flex;
    align-items: center;

}
.appealItems{
    display: flex;
    width: 700px;
    height: 50px;
    padding: 5px 10px;
    list-style: none;
    color: white;
}
.appealItem{
    display: flex;
    line-height: 22px;
    width: 150px;
    padding: 5px;
    align-items: center;
}
.appealItemDate{
    padding-left: 30px;
}
.appealLevelGreen{
    color: green;
}
.appealLevelYellow{
    color: yellow;
}
.appealLevelRed{
    color: red;
}
.appealItemMessage{
    width: 150px;
    margin-left: 20px;
    white-space: nowrap;
    overflow: hidden;

}
.appealMessageEnd{
    margin-top: 10px;
}
.status{

}
.statusItems{
    margin-left: 100px;

}
.statusItem{
    display: flex;
}
.statusTextOpen{
    border: 2px solid #65804b;
    padding: 10px 10px 10px 10px;
    border-radius: 20px;
    color: white;
    background-color: #65804b;
    line-height: 16px;
    cursor: pointer;

}
.statusItemClose{
    border: 2px solid #80292c;
    border-radius: 20px;
    padding: 10px 10px 10px 10px;
    color: white;
    background-color: #80292c;
    line-height: 16px;
    cursor: pointer;

}
.statusBtn{
    margin-left: 20px;
    border: 2px solid #A0522D;
    border-radius: 20px;
    padding: 10px 10px 10px 10px;
    background-color: #DEB887;
    color: #800000;
    line-height: 16px;


}
