.createAppeal{
    text-align: center;

}
.createAppealContent{
    text-align: center;
    margin: 100px 0 100px 0;
    background-color: #313830;
    display: inline-block;
    width: 400px;
    padding: 50px 15px 50px 15px;
}
.title{

    margin-bottom: 30px;
    color: white;
    text-transform: uppercase;

}
.form{

}
.formInputItems{

}
.formItem{

    margin-bottom: 20px;
    font-family: "Roboto Light";
    font-size: 16px;
    line-height: 16px;
    transition: 0.3s;

}
.formInput{
    width: 200px;
    padding: 10px 10px 10px 10px;
    border: 2px solid #65804b;
    border-radius: 15px;
    color: white;
    background: none;
    text-align: center;
    outline: none;


}
.formInput:focus{
    font-family: "Roboto Light";
    font-weight: 600;
    line-height: 20px;
    border: 2px solid  #2ecc71;
    transition: 0.3s;
    width: 250px;
}
.formInput:hover{

}
.formTextarea{
    width: 200px;
    resize: none;
    padding: 15px 10px 15px 10px;
    border: 2px solid #65804b;
    background: none;
    border-radius: 15px;
    color: white;
    outline: none;
}
.formTextarea:focus{
    font-family: "Roboto Light";
    font-weight: 600;
    line-height: 20px;
    width: 300px;
    border: 2px solid #2ecc71;
    transition: 0.3s;
}
.formTextarea:hover{
    transition: 0.3s;
}
.formSelect{
    font-family: "Roboto Light";
    font-weight: 700;
    line-height: 25px;
    width: 200px;
    padding: 15px 10px 15px 10px;
    border: 2px solid #65804b;
    border-radius: 15px;
    color: white;
    background: none;
    text-align: center;
    outline: none;
    cursor: pointer;

}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-text-fill-color: white;
    -webkit-box-shadow: 0 0 0 1000px #313830 inset;
    transition: background-color 0s ease-in-out 0s;
}